@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap");

$primary: #bbb;

@import "~bootstrap/scss/bootstrap.scss";

html,
body,
#root {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  color: #393939;
}

nav.navbar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-control {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.font-weight-bold {
  font-weight: 500 !important;
}

.auth-container {
  background-color: #4881f0;
  border-radius: 3px;
  width: 90%;
  max-width: 350px;
  padding: 2rem;
  box-shadow: 0px 0px 4px transparentize($color: $dark, $amount: 0.25);
  margin-top: 7rem;
  margin-bottom: 3rem;

  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .input-group {
    border: 1px solid transparentize($color: $white, $amount: 0.5);
    border-radius: 0.3rem;
  }

  .input-group-text {
    background-color: transparent;
    border: none;
    color: $white;
  }

  .form-control {
    border: none;
    background-color: transparent;
    color: $white;
  }
}

.auth-nav {
  z-index: 10;
}

.layout-default {
  .main-content {
    margin-top: 57px;
  }
}

.page {
  .page-title {
    font-size: 1.75rem;
    text-transform: uppercase;
  }
}

.table {
  th,
  td {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  th {
    white-space: nowrap;
    font-weight: 500;
  }

  th.fit-content,
  td.fit-content {
    width: 1%;
  }
}
